[submodule "zsh/antigen.symlink"]
	path = zsh/antigen.symlink
	url = https://github.com/zsh-users/antigen.git
[submodule "neovim/powerline-fonts"]
	path = neovim/powerline-fonts
	url = https://github.com/powerline/fonts
