[submodule "zsh/antigen.symlink"]
	path = zsh/antigen.symlink
	url = https://github.com/zsh-users/antigen.git
[submodule "vim/powerline-fonts"]
	path = vim/powerline-fonts
	url = https://github.com/powerline/fonts
